
.about__list{
    margin-top: 60px;
    margin-bottom: 60px;
    list-style: none;
    @media screen and (min-width: 768px) {
     display: flex;
    flex-wrap: wrap;
      gap: 30px; 
    }
    @media screen and (min-width:1200px) {
      margin-top: 94px;
      margin-bottom: 94px;
    display: inline-flex;
    flex-wrap: nowrap;
    }
}
.about__item {                 
   @media screen and (min-width: 768px) {
     width: 354px;
  }
  @media screen and (min-width:1200px) {
   width: 270px;
 &:nth-last-child {
   margin-right: 30px;
  }
   }}

.icon-list {
  width: 450px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
.icon-list{
width: 354px;
}  }
@media screen and (min-width:1200px) {
.icon-list{
  width: 270px;
  }  }

.about__title{
    margin-bottom: 10px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: center;
color: $main-color;
@media screen and (min-width:768px) {
  text-align: left;
}
}
.about__text{
  margin-bottom: 30px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: $second-color;
}