.join-form {
    display: inline-flex;
    margin-left: 70px;
    flex-wrap: wrap;
    flex-direction: column;
   }
   .join-form__title{
    margin-top: 72px;
    margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: rgba(255, 255, 255, 1);
   }
    .mailing{
    margin-left: 93px;
   }
   .user-mail{
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
   }
  
 .icon-send{
    margin-left: 10px;
    fill: #FFFFFF;
 }
   .join-form__list {
    .join-form__item {
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        margin-bottom: 100px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #2196F3;  
   }
   &:not(:last-child) {
    margin-right: 10px;
}}}
.join-form__link {
    fill: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-form__list {
    display: flex;
    justify-content: center;
}
.footer__trasform {
    display: flex;
    align-items: baseline;
}
