.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility;
}

.modal {
    position: absolute;
width: 528px;
height: 581px;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
transition: transform 500ms;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.close-sign {
  color: #000000;
    background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
    fill: #2196F3;
}}
.modal .close-sign {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    top: 8px;
    right: 8px;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-wrapper{
    margin-left: 40px;
    margin-right: 40px;
}
.form-field{
    position: relative;
}

.icon-form{
    position: absolute;
    top: 50%;
    left: 12px;
    fill: $second-color;
    transform: translateY(-65%);
}
.modal-text{
    margin: 40px 40px 12px 40px;
    
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
color: $second-color;
   
}
.modal-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    margin-bottom: 10px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:focus  {
    outline: 1px solid #2196F3;
}}
.modal-input:focus + .icon-form {
    fill:  #2196F3;
}
.feedback {
    width: 100%;
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    margin-top: 4px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:focus {
    outline: 1px solid #2196F3;
}}
.feedback::placeholder{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.1;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);

}
.modal-label {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.1;
letter-spacing: 0.01em;
color: #757575;

}
.check-field{
    display: inline-block;
    align-items: center;
    text-align: center;
    padding-left: 54px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: $second-color;

}
.terms{
  
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #2196F3;
}
.icon-check{
    display: inline-block;
    border-radius: 4px;
    border: 2px solid  $main-color;;
    fill: #FFFFFF;
     
}
.checkbox {
    appearance: none;
}

.checkbox:checked + .icon-check{
    background-color: #2196F3;
   border-color: #2196F3;
}
.button-form{
    padding: 10px 32px;
    margin-top: 30px;
    margin-left: 165px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    min-width: 200px;
    border-radius: 4px;
    border: transparent;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;;
    cursor: pointer;
}
