.work-team {
    .container {
        background: #F5F4FA;
        @media screen and(min-width:1200px) {
            display: grid;
            width: auto;
             justify-content: center; 
        }
        //display: grid;
       // width: auto;
        //justify-content: center;
      
}
    }
    
    .team-list {
       padding-bottom: 60px;
        @media screen and (min-width: 768px) {
     
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
            }
            @media screen and(min-width:1200px) {
                display: flex; 
                flex-wrap: nowrap;
        padding-bottom: 94px;
            }
    }
   
    .team-list__item {
        margin-top: 30px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
         0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc(100% / 2);
    font-size: 32px;
   
    }
    @media screen and(min-width:1200px) {.team-list .team-list__item:not(:last-child) {
        margin-right: 30px;}
    }
    .work-team__title{
        padding-top: 60px;
        //padding-top: 94px;
        //margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        margin-bottom: 50px;
    }
    }
    .work-team__text{
        margin-top: 30px;
        margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    }
    .work-team__desc{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $second-color;
    }
    
    .social-list .social-list__item {
        width: 44px;
        height: 44px;
        background-color: #FFFFFF;
        border-radius: 50%;
        margin-bottom: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and(min-width:1200px) {
            
            margin-bottom: 30px; 
        }
    }
    
    .social {
        width: 100%;
        height: 100%;
        fill: #AFB1B8;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            fill: #FFFFFF;
        }
    }
    
    .social-list__item:hover {
        background-color: #2196F3; 
    }
    .social-list__item:focus {
        background-color: #2196F3; 
    }
    .social-list{
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
    .social-list__item:not(:last-child) {
        margin-right: 10px;}