$main-color: #212121;
$second-color: #757575;
$background: #FFFFFF;

.body{
    font-family: "roboto", sans-serif;
    background: #FFFFFF;
}
.container {
   
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
      width: 480px;
}

      @media screen and (min-width: 768px) {
          width: 768px;
      }
      @media screen and (min-width: 1200px) {
            width: 1200px;
      }
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
img {
      display: block;
      max-width: 100%;
      height: auto;
    }